.next[disabled],
.prev[disabled] {
  opacity: 0.1;
  pointer-events: none;
}

.prev {
  width: 23px;
  height: 38px;
  position: absolute;
  left: -50px;
  top: 50%;
  cursor: pointer;
}

.next {
  width: 23px;
  height: 38px;
  position: absolute;
  right: -50px;
  top: 50%;
  cursor: pointer;
}
