input {
  color: white !important;
  height: 20px !important;
  background-color: #212121 !important;
  outline: none !important;
  border: none !important;
}

@media (max-width: 695px) {
  .register-button {
    width: 125px !important;
    padding: 0 25px !important;
  }

  .login-button {
    width: 125px !important;
    padding: 0 37px !important;
  }
}

.facebook-icon {
  color: #aeafb4;
  display: inline-block;
  margin-right: 10px;
  font-size: 20.5px;
  cursor: pointer;
}

.instagram-icon {
  display: inline-block;
  margin-right: 10px;
  color: #aeafb4;
  font-size: 20.5px;
  cursor: pointer;
}
.text-css {
  padding: 13px;
  border-radius: 2px;
  font-family: "FontAwesome", "Open Sans", sans-serif;
}
.text-css::placeholder {
  color: white !important;
}

.text-css input {
  color: white !important;
}

.help-link {
  display: block;
  width: 27px;
  height: 26px;
  border: 1px solid black;
  color: white;
  margin: 0 10px;
  text-align: center;
}

.login-button {
  width: 81px;
  height: 26px;
  margin-left: 5px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  font-weight: bold;
  padding-left: 13px;
}

.register-button {
  width: 107px;
  height: 26px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  font-weight: bold;
}

#eng {
  background-color: transparent;
  color: #aeafb4;
  border: none;
  outline: none;
  display: inline-block;
}
